<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About /E-Cell | MIET</title>
    <link rel="shortcut icon" href="images/E-CELL_LOGO-removebg-preview.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@600&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!--Landing page -->

    <section class="landing">
      <div id="particles-js"></div>
      <div class="home">
        <a href="#" name="landing"></a>
        <nav>
          <div class="ecell-logo">
            <a href="index.html">
              <img src="images/E-CELL_LOGO-removebg-preview.png" alt="E-cell UVCE"/></a>
          </div>
          <!-- Navigation Menu-->
          <i class="fa fa-bars"></i>
          <div class="nav-menu">
            <i class="fa fa-times"></i>
            <ul id="menuelements">
              <li id="about">
                <a onclick="myfunc()" href="index.php">home</a>
              </li>
              <li id="about">
                <a onclick="myfunc()" href="#about-us">About Us</a>
              </li>
              <li id="events">
                <a onclick="myfunc()" href="#events1">Events</a>
              </li>
              <li id="gallery">
                <a onclick="myfunc()" href="#gallery1">Gallery</a>
              </li>
              <li id="team"><a onclick="myfunc()" href="#team1">Team</a></li>
              <li id="contact">
                <a onclick="myfunc()" href="#contact1">Contact Us</a>
              </li>
            </ul>
            <div class="socialmenu">
              <ul id="socialicons">
                <li>
                  <a
                    href="https://www.instagram.com/ecelluvce/?hl=en"
                    target="_blank"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/ECellUVCE" target="_blank"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.facebook.com/EntrepreneurshipCell.UVCE/"
                    target="_blank"
                    ><i class="fa fa-facebook-official"></i
                  ></a>
                </li>

                <li>
                  <a
                    href="https://www.linkedin.com/groups/6793994"
                    target="_blank"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        
       
      
      <div class="about-section">
        <h1>About Us</h1>
        <p>KANOJIYA SPORTS INDUSTRIES – RAKY are engaged in manufacturing and Supplying of a wide array of Leather Cricket Ball, Cricket Tennis Ball, Cricket Bat, Carrom Board, and all sports goods. These sports products are manufactured by our dexterous professionals using quality assured material and contemporary machines in tune with the set global quality standards. Offered products are inspected by our experts on well-defined parameters, before their final dispatch. In order to meet varied requirements of clients, we make available these sport products in diverse specifications. These sport products are highly demanded in the market, owing to their excellent features like light weight, high strength, durability, superior quality and crack resistance. Beside this, our honored clients can purchase these sport products from us at pocket-friendly prices.</p>
      </div>
      

      <h2>Our Team</h2>
      <div class="row">
        <div class="column">
            <div class="card">
                <img src="/img/product-1.jpg" alt="Jane">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p><a href="GMAIL.COM">KUMADEEP3214@GMAIL.COM</a></p>
                
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/img/helmet.jpg" alt="Mike">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>mike@example.com</p>
                
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/img/product-6.jpg" alt="John">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>john@example.com</p>
                
                </div>
            </div>
        </div>
        
        <div class="column">
      <div class="card">
          <img src="/img/helmet.jpg" alt="Mike">
          <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>mike@example.com</p>
            
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="/img/helmet.jpg" alt="Mike">
          <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>mike@example.com</p>
            
          </div>
        </div>
      </div>
      
<div class="column">
  <div class="card">
    <img src="/img/helmet.jpg" alt="Mike">
    <div class="container">
      <h2>Mike Ross</h2>
      <p class="title">Art Director</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>mike@example.com</p>
      
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="/img/helmet.jpg" alt="Mike">
    <div class="container">
      <h2>Mike Ross</h2>
      <p class="title">Art Director</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>mike@example.com</p>
      
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="/img/helmet.jpg" alt="Mike">
    <div class="container">
      <h2>Mike Ross</h2>
      <p class="title">Art Director</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>mike@example.com</p>
      
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="/img/helmet.jpg" alt="Mike">
    <div class="container">
      <h2>Mike Ross</h2>
      <p class="title">Art Director</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>mike@example.com</p>
      
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="/img/helmet.jpg" alt="Mike">
    <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/img/helmet.jpg" alt="Mike">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          
        </div>
      </div>
    </div>
  </div>
    
    
    
    <!-- ----------FOOTER---------- -->
    <div class="social">
      <ul>
        <li>
          <a
          href="https://www.instagram.com/ecelluvce/?hl=en"
          target="_blank"
          ><i class="fa fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/ECellUVCE" target="_blank"
            ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
                <a
                href="https://www.facebook.com/EntrepreneurshipCell.UVCE/"
                target="_blank"
                ><i class="fa fa-facebook-official" aria-hidden="true"></i
                  ></a>
                </li>
                
                <li>
                  <a
                  href="https://www.linkedin.com/groups/6793994"
                  target="_blank"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
      
          </section>
          <script src="particles.js"></script>
      <script src="script.js"></script>
          </body>
          </html>